In [1]:
import pandas as pd
import re
import time

In [2]:
df_1=pd.read_csv('/Users/Johanna/Documents/SIMPLON DATA IA/IA/ML PROJET/PROJET SELOGER/csv_Paris_16/name_csv_Paris_ls.csv')
df_1['sl_paragraphe'][4]
df_1

,sl_style,sl_nb_chambre,sl_taille,sl_prix,sl_paragraphe,sl_salle_d_eau,sl_salle_de_bain,sl_toilette,sl_annee,sl_etage,sl_nb_piece
0,Appartement,1 chambre,"73,5m²",731 500 €,Appartement à vendre Secteur MIRABEAU Vue sur ...,Non reference,1 Salle de bain,1 Toilette,Année de construction 1950,Au 4ème étage,3 pièces
1,Appartement,2 chambres,75m²,850 000 €,Appartement de 75 m² situé au 3ème étage avec ...,Non reference,1 Salle de bain,1 Toilette,Année de construction 1954,Au 3ème étage,3 pièces
2,Appartement,"32,63m²",9 960 € / m²,325 000 €,PASSY - TROCADERO Dans un bel immeuble de 1908...,1 Salle d'eau,Non reference,1 Toilette,Année de construction 1908,Non reference,1 pièce
3,Appartement,2 chambres,77m²,796 000 €,"Michel Ange - Auteuil VENDMY, première néo-age...",Non reference,1 Salle de bain,1 Toilette,Année de construction 1930,Au 4ème étage,4 pièces
4,Appartement,25m²,15 200 € / m²,380 000 €,Avenue Pierre 1er de Serbie/Marceau/Vue dégagée.,1 Salle d'eau,Non reference,1 Toilette,Non reference,Au 6ème étage,1 pièce
...,...,...,...,...,...,...,...,...,...,...,...
358,Appartement,40m²,14 250 € / m²,570 000 €,NICOLO / PAUL DOUMER.Au 4° étage d'un immeuble...,Non reference,1 Salle de bain,1 Toilette,Non reference,Au 4ème étage,1 pièce
359,Appartement,1 chambre,61m²,649 000 €,Paris 16 - Porte de Saint-Cloud - Dans un bel ...,Non reference,1 Salle de bain,1 Toilette,Non reference,Au 1er étage,2 pièces
360,Appartement,32m²,12 031 € / m²,385 000 €,EXCLUSIVITÉ AGENCE EIFFEL.,1 Salle d'eau,Non reference,1 Toilette,Non reference,Non reference,1 pièce
361,Appartement,1 chambre,"56,69m²",745 000 €,Faisanderie - Longchamp Rue de la faisanderie....,Non reference,1 Salle de bain,1 Toilette,Année de construction 1980,Au 1er étage,2 pièces
362,Appartement,1 chambre,54m²,765 000 €,Au 9ème étage d'un immeuble de standing de la ...,Non reference,1 Salle de bain,1 Toilette,Année de construction 1959,Au 9ème étage,2 pièces

In [3]:
df_2=pd.read_csv('/Users/Johanna/Documents/SIMPLON DATA IA/IA/ML PROJET/PROJET SELOGER/csv_Paris_16/name_csv_Paris_bd.csv')
df_2

,bd_style,bd_nb_chambre,bd_nb_piece,bd_prix,bd_paragraphe,bd_salle_d_eau,bd_salle_de_bain,bd_toilette,bd_annee,bd_etage,bd_taille
0,Appartement,5 Chambres,Non reference,3 000 000 € à 10 000 000 €\nLes honoraires son...,Paris 16ème - Jardin du Ranelagh. Dans un hôte...,1 Salle d'eau,3 Salles de bain,Non reference,Non reference,Non reference,['333 M²']
1,Appartement,1 Chambre,Non reference,6 300 000 €\nLes honoraires sont à la charge d...,Paris 16ème - Palais de Tokyo. Rare. Vue Tour ...,Non reference,1 Salle de bain,Non reference,Année de construction 1900,Au 3ème étage,['230 M²']
2,Appartement,4 Chambres,Non reference,2 995 000 €\nLes honoraires sont à la charge d...,TERRASSE 80 M2 A proximité de la place du Troc...,2 Salles d'eau,2 Salles de bain,3 Toilettes,Année de construction 1976,Au 2ème étage,['185 M²']
3,Appartement,4 Chambres,Non reference,2 590 000 €\nHonoraires TTC inclus à la charge...,"Appartement familial de 190 m², rénové par arc...",Non reference,3 Salles de bain,1 Toilette,Année de construction 1924,Au 3ème étage,['190 M²']
4,Appartement,4 Chambres,Non reference,2 980 000 €\nLes honoraires sont à la charge d...,Paris 16 - EXCLUSIVITÉ - FLANDRIN - APPARTEMEN...,Non reference,Non reference,Non reference,Année de construction 1914,Au 5ème étage,['232 M²']
...,...,...,...,...,...,...,...,...,...,...,...
332,Appartement,4 Chambres,Non reference,2 590 000 €\nHonoraires TTC inclus à la charge...,PASSY / CHERNOVIZ. 4 CHAMBRES PASSY / CHERNOVI...,2 Salles d'eau,1 Salle de bain,2 Toilettes,Année de construction 1880,Au 3ème étage,['190 M²']
333,Appartement,2 Chambres,Non reference,1 750 000 €\nLes honoraires sont à la charge d...,Dernier étage rue de la Faisanderie. Porte dau...,Non reference,2 Salles de bain,Non reference,Année de construction 1969,Au 7ème étage,['111 M²']
334,Appartement,3 Chambres,Non reference,2 290 000 €\nHonoraires TTC inclus à la charge...,GUY HOQUET PRESTIGE vous présente: Au 5ème éta...,1 Salle d'eau,1 Salle de bain,1 Toilette,Année de construction 1906,Au 5ème étage,['166 M²']
335,Appartement,3 Chambres,Non reference,2 400 000 €\nLes honoraires sont à la charge d...,Paris 16ème - Lalo / Marbeau Le bien d'une sur...,Non reference,Non reference,2 Toilettes,Année de construction 1900,Au 3ème étage,['171 M²']
336,Appartement,6 Chambres,Non reference,4 500 000 €\nHonoraires TTC inclus à la charge...,Paris 16 - 75016 - QUARTIER CHAILLOT - SUBLIME...,1 Salle d'eau,Non reference,2 Toilettes,Année de construction 1890,Au 5ème étage,['248 M²']

In [ ]:
# Pour n'avoir que les valeurs numériques de la colonne
#df = df_2.copy()
df.bd_taille= df.bd_taille.str.replace('\D', '').astype(int)
df

In [ ]:
bd_test.shape[0]

In [ ]:
for i in range(bd_test.shape[0]):
    print(bd_test.bd_paragraphe[i])
    print('**********************')

In [ ]:
# mot clé: balcon, parking, jardin, parquet, transports, tour eiffel, exposé, cave, dressing
def details(data, column):
    for i in range(data.shape[0]):
        text = column[i]
        appartement = bool(re.search('balcon',text))
        print(appartement)
        
        
details(bd_test, bd_test.bd_paragraphe)

In [ ]:
def details(data, column, pattern, name_column):
    lst = [ bool(re.search(pattern ,column[i])) for i in range(data.shape[0])]
    df = pd.DataFrame(lst,columns =[name_column]) 
    return df
        
        
details(bd_test, bd_test.bd_paragraphe, 'parking', 'parking')

In [ ]:
elements = ['balcon', 'parking', 'jardin', 'parquet', 'transports', 'tour eiffel', 'cave', 'dressing']

In [ ]:
data.sl_prix= data.sl_prix.str.replace('\D', '').astype(int)
data.sl_taille = data.sl_taille.str.extract(r'([-]?[\d.]*)([\w\D]*)')
data.sl_taille = pd.to_numeric(data.sl_taille)                                          
data.sl_nb_chambre = data.sl_nb_chambre.str.replace('\D', '').astype(int)
data.sl_salle_de_bain = data.sl_salle_de_bain.str.extract(r'([-]?[\d.]*)([\w\D]*)')
data.sl_salle_de_bain= pd.to_numeric(data.sl_salle_de_bain)
data.sl_toilette = data.sl_toilette.str.extract(r'([-]?[\d.]*)([\w\D]*)')
data.sl_toilette = pd.to_numeric(data.sl_toilette)
data.sl_nb_piece = data.sl_nb_piece.str.extract(r'([-]?[\d.]*)([\w\D]*)')
data.sl_nb_piece = pd.to_numeric(data.sl_nb_piece)
#data.sl_salle_de_bain = data.sl_salle_de_bain.str.replace('\D', '').astype(int)
data

In [ ]:
pixel_start = 3300
pixel_end = 4500
pas = 100
for i in range(pixel_start, pixel_end, pas): 
    print("window.scrollTo(0, {});".format(i))

In [ ]:
def aera_bd():
    # pour savoir la surface en mètre carré (belle demeure)
    try:
        a= re.findall('\d+ M²',browser.find_element_by_xpath("/html/body/nav/ol/li[6]/span").text)
        print('solution a')
        print(a)
    except NoSuchElementException:
        b = browser.find_element_by_xpath("/div[contains(@class,'annonceSpecsListItem js_livingArea')]")
        print('solution b')
        print(b)
    #else:
        #d[column] = browser.find_element_by_xpath("/html/body/nav/ol/li[6]/span")
        #d[column] = browser.find_element_by_xpath("/html/body/nav/ol[@class='breadCrumbList']/li[6][contains(@class, 'breadCrumbItem')][span[.='m²']]")
    #finally:
        #print('Non reference')
    
def good_to_see_you():
    pixel_start = 3300
    pixel_end = 4500
    pas = 100
    for i in range(pixel_start, pixel_end, pas): 
        browser.execute_script("window.scrollTo(0, {});".format(i))

url = 'https://www.bellesdemeures.com/annonces/vente/tt-2-tb-1-pl-48260/159586707/'
browser = webdriver.Chrome()
browser.get(url)
browser.maximize_window()
time.sleep(3)

good_to_see_you()
time.sleep(2)
aera_bd()

In [ ]:
# se loger
# Piece
piece = "div[@class='TagsWithIcon__CurrentIcon-j1x9om-0 bkiamu Icon__IconElement-sc-1xnn3zd-0 jbPwtO']/div[contains(@partial_link_text, 'pièce')]"
#/html/body/div[2]/div/main/div[3]/div[2]/div[1]/div[1]/div[3]/div[2]/div[3]/div[1]/div[2]
#/html/body/div[2]/div/main/div[3]/div[2]/div[1]/div[1]/div[3]/div[2]/div[3]/div[1]/div[2]
#/html/body/div[2]/div/main/div[3]/div[2]/div[1]/div[1]/div[3]/div[2]/div[3]/div[1]/div[2]
#TagsWithIcon__CurrentIcon-j1x9om-0 bkiamu Icon__IconElement-sc-1xnn3zd-0 jbPwtO
#TagsWithIcon__CurrentIcon-j1x9om-0 bkiamu Icon__IconElement-sc-1xnn3zd-0 jbPwtO



# Chambre

# Espace (taille)

# m2

In [ ]:
# belle demeure
# nombre de pièce

In [4]:
def good_to_see_you():
    pixel_start = 2000
    pixel_end = 4500
    pas = 100
    for i in range(pixel_start, pixel_end, pas): 
        browser.execute_script("window.scrollTo(0, {});".format(i))
       # time.sleep(generate_number_delay())
    
def afficher_plus():
    try:
        element = browser.find_element_by_xpath("//div[@class='Showcase__StyledShowMoreText-sc-1y4y37c-1 dGFayi']/div[2][contains(@class,'ShowMoreText__UIShowMoreContainer-sc-5ggbbc-1 gDEVQY')]")
        return element
        
    except NoSuchElementException:  #Certaines annonces ont un url "seloger" -> et en cliquant ce sont des annonces de belles demeures
        good_to_see_you()
        time.sleep(generate_number_delay())
        print('ok')

    except:    
        print('Mauvais Xpath')

In [ ]:
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException


#url = "https://www.seloger.com/annonces/achat/appartement/paris-16eme-75/chaillot/157185921.htm?projects=2&types=1,2&natures=1&places=%5B"
#url = "https://www.seloger.com/annonces/achat/appartement/paris-16eme-75/auteuil-sud/157247987.htm?projects=2&types=1,2&natures=1&places=[{ci:750116}]&enterprise=0&qsVersion=1.0&bd=ListToDetail"
url = "https://www.seloger.com/annonces/achat/appartement/paris-16eme-75/auteuil-sud/157247987.htm?projects=2&types=1,2&natures=1&places=[{ci:750116}]&enterprise=0&qsVersion=1.0&bd=ListToDetail"

browser = webdriver.Chrome()
browser.get(url)
browser.maximize_window()
#time.sleep(3)

maximum = range(1,11)
len_max = len (maximum)
m = 1
while m <= len_max:
    for m in maximum:
        try: 
            title = browser.find_element_by_partial_link_text("Les plus")
            Les_plus = ["/html/body/div[2]/div/main/div[3]/div[2]/div[1]/section[1]/div[2]/div/div/figure[{}]/figcaption".format(i) for i in range(1,m)] # attention y a pas forcement des plus partout
            plus = [browser.find_element_by_xpath(Les_plus[i]).text for i in range(0,m-1)]
            print(plus)
        except:
            print('Non reference')


        try: 
            title = browser.find_element_by_partial_link_text("Général")
            Generals = ["/html/body/div[2]/div/main/div[3]/div[2]/div[1]/section[1]/div[3]/div[1]/div[1]/div/ul/li[{}]".format(i) for i in range(1,m)]
            general = [browser.find_element_by_xpath(Generals[i]).text for i in range(0,m-1)]
            print(general)
        except NoSuchElementException:
            Generals = ["/html/body/div[2]/div/main/div[3]/div[2]/div[1]/section[1]/div[2]/div[1]/div[1]/div/ul/li[{}]".format(i) for i in range(1,m)]
            general = [browser.find_element_by_xpath(Generals[i]).text for i in range(0,m-1)]
            print(general)
        except:
            print('Non reference')


        element = afficher_plus()
        browser.execute_script("arguments[0].click();", element)
        time.sleep(3)

        try: 
            title = browser.find_element_by_partial_link_text("A l'intérieur")
            interieurs = ["/html/body/div[2]/div/main/div[3]/div[2]/div[1]/section[1]/div[3]/div[1]/div[2]/div/ul/li[{}]".format(i) for i in range(1,m)]
            interieur = [browser.find_element_by_xpath(interieurs[i]).text for i in range(0,m-1)]
            print(interieur)
        except NoSuchElementException:
            Generals = ["/html/body/div[2]/div/main/div[3]/div[2]/div[1]/section[1]/div[2]/div[1]/div[2]/div/ul/li[{}]".format(i) for i in range(1,m)]
            general = [browser.find_element_by_xpath(Generals[i]).text for i in range(0,m-1)]
            print(general)

        except:
            print('Non reference')

        try: 
            title = browser.find_element_by_partial_link_text("A l'extérieur")
            exterieurs = ["/html/body/div[2]/div/main/div[3]/div[2]/div[1]/section[1]/div[2]/div[1]/div[3]/div/ul/li[{}]".format(i) for i in range(1,m)]
            exterieur = [browser.find_element_by_xpath(exterieurs[i]).text for i in range(0,m-1)]
            print(exterieur)
        except:
            print('Non reference')

        try: 
            title = browser.find_element_by_partial_link_text("Autres")
            Autres = ["/html/body/div[2]/div/main/div[3]/div[2]/div[1]/section[1]/div[3]/div[1]/div[3]/div/ul/li[{}]".format(i) for i in range(1,m)]
            autre = [browser.find_element_by_xpath(Autres[i]).text for i in range(0,m-1)]
            print(autre)
        except NoSuchElementException:
            Autres = ["/html/body/div[2]/div/main/div[3]/div[2]/div[1]/section[1]/div[2]/div[1]/div[3]/div/ul/li[{}]".format(i) for i in range(1,m)]
            autre = [browser.find_element_by_xpath(Autres[i]).text for i in range(0,m-1)]
        except:
            print('Non reference')

In [ ]:
from selenium import webdriver

#url = 'https://www.bellesdemeures.com/annonces/vente/tt-2-tb-1-pl-48260/159586707/'

browser = webdriver.Chrome()
browser.get(url)
browser.maximize_window()
#time.sleep(3)

#Les_plus = "div[@class='TagsWithIcon__TagContainer-j1x9om-1 eohXcO']/div[2][contains(@partial_link_text, 'pièce')]"
Les_plus = "figcaption" # attention y a pas forcement des plus partout
#element = browser.find_element_by_tag_name(Les_plus).text

caracteristiques = ""
element = browser.find_element_by_class(General).text


amenagement = ""
element = browser.find_element_by_class(General).text

element

In [22]:
from selenium import webdriver
from selenium.common.exceptions import NoSuchElementException


#url = "https://www.seloger.com/annonces/achat/appartement/paris-16eme-75/chaillot/157185921.htm?projects=2&types=1,2&natures=1&places=%5B"
#url = "https://www.seloger.com/annonces/achat/appartement/paris-16eme-75/auteuil-sud/157247987.htm?projects=2&types=1,2&natures=1&places=[{ci:750116}]&enterprise=0&qsVersion=1.0&bd=ListToDetail"
url = "https://www.seloger.com/annonces/achat/appartement/paris-16eme-75/chaillot/157185921.htm?projects=2&types=1,2&natures=1&places=%5B"
#url = 'https://www.bellesdemeures.com/annonces/vente/tt-2-tb-1-pl-48260/159586707/'

browser = webdriver.Chrome()
browser.get(url)
browser.maximize_window()
#time.sleep(3)


time.sleep(3)

#sl_localisation = "js_locality"
#exterieur = browser.find_element_by_class_name(sl_localisation).text 
#print(exterieur)

bd = "/html/body/div[2]/div/main/div[3]/div[2]/div[1]/div[1]/div[3]/div[2]/div[1]/div[2]"
bd = "/html/body/div[2]/div/main/div[3]/div[2]/div[1]/div[1]/div[3]/div[2]/div[1]/div[3]"
interieur = browser.find_element_by_xpath(bd).text 


bd_localisation = "summary-address"
#interieur = browser.find_element_by_id(bd_localisation).text 
print(interieur)

Quartier Chaillot, Paris 16ème

In [ ]:
#seloger
sl_hauteur = "//li[text()[contains(.,'Bâtiment de')]]"
sl_ascenseur = "//figcaption[text()[contains(.,'Ascenseur')]]"
sl_vue = "//figcaption[text()[contains(.,'Vue')]]"
sl_cave = "//figcaption[text()[contains(.,'Cave')]]"
sl_parking = "//figcaption[text()[contains(.,'Parking')]]"
sl_chemine = "//li[text()[contains(.,'Cheminée')]]"
sl_exposition = "//figcaption[text()[contains(.,'Orientation')]]"
sl_balcon = "//figcaption[text()[contains(.,'Balcon')]]"
sl_terrasse ="//figcaption[text()[contains(.,'Terrasse')]]"
sl_gardien = "//figcaption[text()[contains(.,'Gardien')]]"
sl_travaux = "//li[text()[contains(.,'travaux')]]"
sl_neuf = "//li[text()[contains(.,'neuf')]]"
sl_parquet = "//li[text()[contains(.,'Parquet')]]"
sl_cuisine = "//li[text()[contains(.,'américaine')]]"
sl_vis_a_vis = "//li[text()[contains(.,'vis')]]"
sl_jardin = "//li[text()[contains(.,'Jardin')]]"
sl_piscine = "//li[text()[contains(.,'Piscine')]]"

or
sl_exposition = "//li[text()[contains(.,'Orientation')]]"
or
sl_parking = "//li[text()[contains(.,'Parking')]]"

In [ ]:
#belledemeure
bd_hauteur = "//li[text()[contains(.,'Bâtiment de')]]"
bd_ascenseur = "//span[text()[contains(.,'Ascenseur')]]"
bd_vue = "//span[text()[contains(.,'vue')]]"
bd_cave = "//span[text()[contains(.,'Cave')]]"
bd_parking = "//span[text()[contains(.,'Parking')]]"
bd_chemine = "//span[text()[contains(.,'Cheminée')]]"
bd_exposition = "//span[text()[contains(.,'Orientation')]]"
bd_balcon = "//span[text()[contains(.,'Balcon')]]"
bd_terrasse ="//span[text()[contains(.,'Terrasse')]]"
bd_gardien =  "//span[text()[contains(.,'Gardien')]]"
bd_travaux = "//li[text()[contains(.,'travaux')]]"
bd_neuf ="//li[text()[contains(.,'neuf')]]"
bd_parquet = "//li[text()[contains(.,'Parquet')]]"
bd_cuisine = "//li[text()[contains(.,'américaine')]]"
bd_vis_a_vis = "//span[text()[contains(.,'vis')]]"
bd_jardin = "//span[text()[contains(.,'Jardin')]]"
bd_piscine = "//span[text()[contains(.,'Piscine')]]"


or 
bd_exposition = "//li[text()[contains(.,'Orientation')]]"
or 
bd_vis_a_vis = "//li[text()[contains(.,'vis')]]"